#wordy{
    max-width: 110px;
}

#nav{
    background-color: #ffffff;
}

#bod{
    background-color: #fafafa;
}

#logo1{
    height: 30px;
}

.icons{
    font-size: 30px;
}

.icons a{
    color: #000000;
}
.modal img {
    width:auto;
    max-width: 80%;
    max-height: 70vh;
    width: auto\9; /* ie8 */
  }
.modal-body{
   text-align: center;
   height: auto;
}
@media (min-width: 768px){
.modal-dialog {
   width: auto;
   max-width: 80%;
}

