{%extends 'base.html'%}
{% block content %}
<div class="container">
  <div class="row">
    {% if profiles %}
    <h2>Profiles:</h2>
    {% for profile in profiles %}
      <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4">
      {{profile.user.username}}
      <img class="card-img-top" src="{{profile.profile_pic.url}}" alt="Image">
    </div>
    {% endfor %}
    {% endif %}
    <hr>
  </div>

  <div class="row">

  {% if pics %}
    <h2>Pictures:</h2></br>
    {% for pic in pics %}
      <div class="card col-xs-9 col-sm-9 col-md-9 col-lg-9">
      {{pic.user.username}}
      <img class="card-img-top" src="{{pic.image.url}}" alt="Image">
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}